<div
  class="modal fade"
  id="shoppingCartModal"
  tabindex="-1"
  aria-labelledby="shoppingCartModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="shoppingCartModalLabel">
          Shopping Cart
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- ---------------- -->

        <div class="container">
          <div class="row">
            <!-- Vertical scrollable container -->
            <div
              class="scroll-container"
              style="overflow-y: auto; height: 400px"
            >
              <!-- First Card -->
              <div *ngFor="let cartItem of cartItems;index as index" class="col-md-12 mb-3">
                <div class="row">
                  <!-- Image Column -->
                  <div class="col-md-6">
                    <a href="/shoppingcart" (click)="route(cartItem)">
                      <img
                        [src]="cartItem.product.mainPhotoUrl"
                        alt="Product Image"
                        class="img-fluid"
                        style="width: 100%"
                      />
                    </a>
                  </div>

                  <!-- Info Column -->
                  <div class="col-md-6">
                    <h6>{{ cartItem.product.name }}</h6>
                    <p>Size: {{ cartItem.size }}</p>
                    <p>quantity: {{ cartItem.quantity }}</p>
                    <p style="color: red">
                      <strong
                        >total price :
                        {{ cartItem.quantity * cartItem.product.price }}</strong
                      >
                    </p>
                    <button
                      (click)="removeFromCart(cartItem,index)"
                      class="btn btn-danger"
                    >
                      Remove from Cart
                    </button>
                    <div
                      class="input-group mb-3"
                      style="max-width: 120px"
                    ></div>
                  </div>
                </div>
              </div>

              <!-- Add more cards similarly... -->
            </div>
          </div>
        </div>

        <!-- ------------------------ -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Checkout</button>
      </div>
    </div>
  </div>
</div>
