<div class="container mt-5">
  <!-- Responsive Yes/No Box -->
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="card p-4 shadow-sm">
        <h5 class="card-title text-center">Do you agree to confirm the order ?</h5>
        <br>
        <div class="d-flex justify-content-around">
          <button (click)="confirm()" class="btn btn-success btn-lg w-40">Yes</button>
          <button class="btn btn-danger btn-lg w-40">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
