
<footer class="text-center text-lg-start bg-black text-white">

  <br>
  
    <section class="">
        <div class="container text-center text-md-start mt-5">
    
            <div class="row mt-3">
    
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
               
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>ٍShop name
                    </h6>
                    <p>
                        Follow Us On Our Website To know everything new with us
                    </p>
                    <div>
                        <a href="" class="me-4 text-reset text-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 text-reset text-white">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset text-white">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="me-4 text-reset text-white">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                
               
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
             
                    <h6 class="text-uppercase fw-bold mb-4">Categories</h6>
                    <p class="text-reset text-white">All collections</p>
                    <p  class="text-reset text-white">Shoes</p>
                    <p class="text-reset text-white">Bags's</p>
                    <p  class="text-reset text-white">Clothing</p>
                    <p class="text-reset text-white">Men's</p>
                    <p  class="text-reset text-white">Women's</p>
                </div>
             
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              
                    <h6    class="text-uppercase fw-bold mb-4">Useful links</h6>
                    <p class="text-reset text-white">Privacy Policy></p>
                    <p  class="text-reset text-white">Terms Of Service</p>
                    <p class="text-reset text-white">Return & Refund Policy</p>
                </div>
        
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
   
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Assiut, Egypt</p>
                    <p><i class="fas fa-envelope me-3"></i> </p>
                    <p><i class="fas fa-phone me-3"></i> + 0111111</p>
                    <p><i class="fas fa-print me-3"></i> + 02222222</p>
                    <p><i class="fas fa-print me-3"></i> + 055522222</p>
                </div>
     
                 
            </div>
  
        </div>
    </section>

</footer>

<!-- --------------- -->