<div
  class="modal fade"
  id="productInfoModal"
  tabindex="-1"
  aria-labelledby="productInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ProductInfoModalLabel">
          {{ product.name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          id="productImagesCarousel"
          class="carousel slide mb-4"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              *ngFor="let productPhoto of product.productPhotos; index as i"
              [ngClass]="{ active: i == 0 }"
              class="carousel-item"
            >
              <img
                [src]="productPhoto.productPhotoUrl"
                class="d-block w-100 carousel-image"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#productImagesCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#productImagesCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <h5>Product Details</h5>
        <ul class="list-group mb-3">
          <li class="list-group-item">
            <strong>Name:</strong> {{ product.name }}
          </li>
          <li *ngIf="product.currentPrice==product.price" class="list-group-item">
            <strong>Price:</strong> ${{ product.currentPrice }}
          </li>
          <li *ngIf="product.currentPrice!=product.price" class="list-group-item">
            <strong>Price:</strong> ${{ product.currentPrice }} instead of
            <span style="text-decoration: line-through">{{
              product.price
            }} </span><span>until {{product.discountExpirationDate}}</span>
          </li>
          <li class="list-group-item d-flex align-items-center">
            <strong class="me-2">Available Sizes </strong>
            <ul class="list-group list-group-horizontal">
              <li
                [ngClass]="{ active: selectedSize == size.availabeSize }"
                style="cursor: pointer"
                class="list-group-item sizes"
                *ngFor="let size of product.productAvailableSizes"
                (click)="
                  quantity = size.quantity; selectedSize = size.availabeSize
                "
              >
                {{ size.availabeSize }}
              </li>
            </ul>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <div>
              <strong>Quantity:</strong>
              {{ quantity == 1 ? "Last piece" : quantity }}
            </div>
          </li>
          <li *ngIf="product.subCategory == null" class="list-group-item">
            <strong>Category:</strong>
            {{
              product.category == null ? "No Category" : product.category.name
            }}
          </li>
          <li *ngIf="product.subCategory != null" class="list-group-item">
            <strong>Category:</strong>
            {{
              product.category == null
                ? "No Category"
                : product.subCategory.name
            }}
          </li>
          <li class="list-group-item">
            <strong>Brand:</strong>
            {{ product.brand == null ? "No Brand" : product.brand.name }}
          </li>
          <li *ngIf="product.note != null" class="list-group-item">
            <strong>Note:</strong>
            {{ product.note }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!-- <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          Close
        </button> -->
        <div
          *ngIf="userIsLogged()"
          class="d-flex align-items-center justify-content-center"
        >
          <div class="input-group" style="max-width: 150px">
            <button
              [disabled]="requiredQuantity <= 0"
              (click)="requiredQuantity = requiredQuantity - 1"
              class="btn btn-outline-secondary"
              type="button"
            >
              -
            </button>
            <input
              type="number"
              class="form-control text-center"
              name="requiredQuantity"
              [(ngModel)]="requiredQuantity"
              min="0"
              [max]="quantity"
            />
            <button
              [disabled]="requiredQuantity >= quantity"
              (click)="requiredQuantity = requiredQuantity + 1"
              class="btn btn-outline-secondary"
              type="button"
            >
              +
            </button>
          </div>

          <button
            type="button"
            class="btn btn-outline-dark ms-2"
            (click)="addToCart(product.id)"
            [disabled]="requiredQuantity <= 0"
          >
            Add to Cart
          </button>
        </div>
        <div
          *ngIf="!userIsLogged()"
          class="d-flex align-items-center justify-content-center"
        >
          <button
            data-bs-target="#loginModal"
            data-bs-toggle="modal"
            type="button"
            class="btn btn-outline-dark ms-2"
          >
            Login to purchase
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
@defer (when !userIsLogged()) {
<app-login></app-login>
}
