.carousel-image {
    width: 400px;
    height: 300px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.sizes:hover,.list-group-item.active {
    background-color: #000000;
    color: white;
}
