<!-- Modal -->
<div
  class="modal fade"
  id="ProductInfoModal"
  tabindex="-1"
  aria-labelledby="ProductInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ProductInfoModalLabel">
          {{ product.name }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- Carousel for product images -->
        <div
          id="productImagesCarousel"
          class="carousel slide mb-4"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              *ngFor="let productPhoto of productPhotos; index as i"
              [ngClass]="{ 'active': i == 0 }"
              class="carousel-item"
            >
              <img
                [src]="productPhoto.productPhotoUrl"
                class="d-block w-100 carousel-image"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#productImagesCarousel"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#productImagesCarousel"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <!-- Product Details -->
        <h5>Product Details</h5>
        <ul class="list-group mb-3">
          <li class="list-group-item">
            <strong>Name:</strong> {{ product.name }}
          </li>
          <li class="list-group-item">
            <strong>Price:</strong> ${{ product.price }}
          </li>
          <li class="list-group-item">
            <strong>Quantity:</strong> {{ product.quantity == 1 ? 'Last piece':product.quantity }}
          </li>
          <li class="list-group-item d-flex align-items-center">
            <strong class="me-2">Available Sizes </strong>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item" *ngFor="let size of product.availableSizes">{{ size }}</li>
            </ul>
          </li>
          <li class="list-group-item">
            <strong>Category:</strong> {{ product.category == null ? 'No Category':product.category.name}}
          </li>
          <li class="list-group-item">
            <strong>Brand:</strong> {{ product.brand == null ? 'No Brand' : product.brand.name  }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
