<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse tocenter"
      id="navbarSupportedContent"
      style="padding-right: 100px"
    >
      <br />
      <a routerLink="/">
        <img
          src="assets/images/logo.png"
          alt="Logo"
          style="border-radius: 50%; width: 80px; height: 50px"
        />
      </a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/clothes"
            >Clothing</a
          >
        </li>

        <li class="dropdown" style="cursor: pointer">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Men's
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                (click)="goToOnSaleProducts(menCategories)"
                class="dropdown-item"
                >On sale</a
              >
            </li>
            <ng-container *ngFor="let menCategory of menCategories">
              <li>
                <a
                  [routerLink]="
                    '/filteredProducts/categoryIds=' + menCategory.id
                  "
                  class="dropdown-item"
                  >{{ menCategory.name }}</a
                >
                <ul
                  style="list-style-type: circle"
                  *ngIf="menCategory.subCategories.length"
                  aria-labelledby="navbarDropdown"
                >
                  <li *ngFor="let subCategory of menCategory.subCategories">
                    <a
                      [routerLink]="
                        '/filteredProducts/subCategoryId=' + subCategory.id
                      "
                      style="padding-left: 0"
                      class="dropdown-item"
                      >{{ subCategory.name }}</a
                    >
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
        <li class="dropdown" style="cursor: pointer">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Women
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                (click)="goToOnSaleProducts(womenCategories)"
                class="dropdown-item"
                >On sale</a
              >
            </li>
            <li *ngFor="let womenCategory of womenCategories">
              <a
                class="dropdown-item"
                [routerLink]="
                  '/filteredProducts/categoryIds=' + womenCategory.id
                "
                >{{ womenCategory.name }}</a
              >
              <ul
                style="list-style-type: circle"
                *ngIf="womenCategory.subCategories.length"
                aria-labelledby="navbarDropdown"
              >
                <li *ngFor="let subCategory of womenCategory.subCategories">
                  <a
                    [routerLink]="
                      '/filteredProducts/subCategoryId=' + subCategory.id
                    "
                    style="padding-left: 0"
                    class="dropdown-item"
                    >{{ subCategory.name }}</a
                  >
                </li>
              </ul>
            </li>
          </ul>
          
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/addcategory"
            >add-category</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/addbrand"
            >add-brand</a
          >
        </li> -->
        <li class="dropdown" style="cursor: pointer">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Accessories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                (click)="goToOnSaleProducts(accessories)"
                class="dropdown-item"
                >On sale</a
              >
            </li>
            <li *ngFor="let accessory of accessories">
              <a
                class="dropdown-item"
                [routerLink]="
                  '/filteredProducts/categoryIds=' + accessory.id
                "
                >{{ accessory.name }}</a
              >
              <ul
                style="list-style-type: circle"
                *ngIf="accessory.subCategories.length"
                aria-labelledby="navbarDropdown"
              >
                <li *ngFor="let subCategory of accessory.subCategories">
                  <a
                    [routerLink]="
                      '/filteredProducts/subCategoryId=' + subCategory.id
                    "
                    style="padding-left: 0"
                    class="dropdown-item"
                    >{{ subCategory.name }}</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <li *ngIf="ifUserIsAdmin()" class="dropdown" style="cursor: pointer">
          <a
            class="nav-link dropdown-toggle"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="/addingproduct"
                >Add product</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/editingCategory"
                >Edit categories</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/editingBrand"
                >Edit brands</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/editingSubCategory"
                >Edit Sub Category</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/add-discount"
                >Add Discount</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/add-coupon"
                >Add Coupon</a
              >
            </li>

          </ul>
        </li>
      </ul>

      <br />
      <ul class="navbar-nav active">
        <li class="nav-item me-3">
          <i
            *ngIf="!logged"
            style="cursor: pointer"
            data-bs-toggle="modal"
            href="#loginModal"
            class="fa-regular fa-user fa-2x"
          ></i>
          <button
            (click)="logOut()"
            *ngIf="logged"
            class="btn btn-outline-dark"
          >
            LogOut
          </button>
        </li>
        <br />
        <li *ngIf="logged" class="nav-item">
          <i
            style="cursor: pointer"
            class="fa-solid fa-cart-shopping fa-2x"
            data-bs-toggle="modal"
            data-bs-target="#shoppingCartModal"
          ></i>
          <span
            class="position-absolute translate-middle badge rounded-pill bg-danger"
          >
            {{ numberOfCartItems }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-container #cart></ng-container>
<ng-container #login></ng-container>
