<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  tocenter " id="navbarSupportedContent" style="padding-right: 200px;">
            <img src="assets/images/logo.png" alt="Logo" style="border-radius: 50%;width: 80px;height: 50px;padding-left: 20px;">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="padding-left: 200px;">
              
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Clothing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Men's
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item" href="#">Bags</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Accessories</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Socks</a></li>
                                <li><a class="dropdown-item" href="#">Belts</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Women's
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item" href="#">Bags & Accessors</a></li>
                    </ul>

                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        All
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">All Categories</a></li>
                        <li><a class="dropdown-item" href="#">Accessors</a></li>
                        <li><a class="dropdown-item" href="#">Bags & Accessors</a></li>
                        <li><a class="dropdown-item" href="#">Bags & Men's</a></li>
                        <li><a class="dropdown-item" href="#">Clothing Woman</a></li>
                        <li><a class="dropdown-item" href="#">Hoodies</a></li>
                        <li><a class="dropdown-item" href="#">Jacket</a></li>
                        <li><a class="dropdown-item" href="#">Jeans</a></li>
                        <li><a class="dropdown-item" href="#">Pants</a></li>
                        <li><a class="dropdown-item" href="#">Polo T-shirt</a></li>
                        <li><a class="dropdown-item" href="#">Shirt</a></li>
                        <li><a class="dropdown-item" href="#">Shoes</a></li>
                        <li><a class="dropdown-item" href="#">Shoes Women</a></li>
                        <li><a class="dropdown-item" href="#">Short</a></li>
                        <li><a class="dropdown-item" href="#">Socks</a></li>
                        <li><a class="dropdown-item" href="#">Swimwear</a></li>
                        <li><a class="dropdown-item" href="#">T-Shirt</a></li>
                        <li><a class="dropdown-item" href="#">Trouser</a></li>
                        <li><a class="dropdown-item" href="#">Underwear Men's</a></li>
                    </ul>

                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search for product" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav ms-2 active" style="padding-left:20px;">
                <li class="nav-item">
                        <i style="cursor: pointer;" data-bs-toggle="modal" href="#loginModal"  class="fa-regular fa-user"></i>
                </li>
            </ul>
            
              
              
        </div>
    </div>
</nav>
<app-login></app-login>
