<div
  id="carouselExampleControls"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div *ngFor="let media of mainPageMedias" class="carousel-item active">
      <ng-container *ngIf="accountService.isAdmin()">
        <img
          (click)="handleMedia(media.id)"
          class="d-block w-100"
          [src]="media.mediaUrl"
          style="height: 500px; cursor: pointer"
          alt="First slide"
        />
      </ng-container>
      <ng-container *ngIf="!accountService.isAdmin()">
        <img
          class="d-block w-100"
          [src]="media.mediaUrl"
          style="height: 500px; cursor: pointer"
          alt="First slide"
        />
      </ng-container>
      <input
        (change)="editMedia($event, media.id)"
        type="file"
        [id]="'MediaInput' + media.id"
        style="visibility: hidden"
      />
    </div>

    <ng-container *ngIf="accountService.isAdmin()">
      <div class="carousel-item">
        <img
          (click)="input.click()"
          src="assets/images/rtaImage.jpg"
          class="d-block w-100"
          style="height: 500px; cursor: pointer"
          alt="First slide"
        />
      </div>
      <input
        #input
        (change)="addMedia($event)"
        type="file"
        style="visibility: hidden"
      />
    </ng-container>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
<!-- <div
  id="carouselExampleControls"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="assets/images/headerimg1.jpg"
        style="height: 500px"
        alt="First slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="assets/images/hoodies.jpg"
        style="height: 500px"
        alt="Second slide"
      />
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="assets/images/manshose.jpg"
        style="height: 500px"
        alt="Third slide"
      />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div> -->
<!-- --------- -->

<div class="container my-5">
  <div class="row">
    <!-- First Image -->
    <div class="col-md-3 mb-4 text-center">
      <a [routerLink]="['/womenshoes']">
        <img
          src="assets/images/wemonshose.jpg"
          style="border-radius: 50%; width: 250px; height: 250px"
          class="img-fluid"
          alt="Shoes Women"
        />
      </a>
      <p style="padding-top: 10px">Shoes Women</p>
    </div>

    <!-- Second Image -->
    <div class="col-md-3 mb-4 text-center">
      <a [routerLink]="['/shoes']">
        <img
          src="assets/images/manshose.jpg"
          style="border-radius: 50%; width: 250px; height: 250px"
          class="img-fluid"
          alt="Image 2"
        />
      </a>
      <p style="padding-top: 10px">Shoes Men</p>
    </div>

    <!-- Third Image -->
    <div class="col-md-3 mb-4 text-center">
      <a [routerLink]="['/clothes']">
        <img
          src="assets/images/clothing men.jpg"
          style="border-radius: 50%; width: 250px; height: 250px"
          class="img-fluid"
          alt="Image 3"
        />
      </a>
      <p style="padding-top: 10px">Clothes Men</p>
    </div>

    <!-- Fourth Image -->
    <div class="col-md-3 mb-4 text-center">
      <a [routerLink]="['/women']">
        <img
          src="assets/images/Bags&Accessors.jpg"
          style="border-radius: 50%; width: 250px; height: 250px"
          class="img-fluid"
          alt="Image 4"
        />
      </a>
      <p style="padding-top: 10px">Bags & Accessors</p>
    </div>
  </div>
</div>

<div>
  <h3 style="text-align: center">-------- Categories --------</h3>

  <div class="container my-5">
    <div class="row justify-content-center">
      <!-- Left Images (6 columns, stacked) -->
      <div class="col-md-6">
        <!-- First Image -->
        <div class="mb-4">
          <img
            src="assets/images/swimwareimage.jpg"
            class="img-fluid"
            alt="Image 1"
            style="height: 300px; width: 600px"
          />
        </div>
        <!-- Second Image -->
        <div class="mb-4">
          <img
            src="assets/images/jacket.jpg"
            class="img-fluid"
            alt="Image 2"
            style="height: 300px; width: 600px"
          />
        </div>
      </div>

      <!-- Right Image (6 columns) -->
      <div class="col-md-6">
        <img
          src="assets/images/manshose.jpg"
          class="img-fluid mb-4"
          alt="Image 3"
          style="width: 600px; height: 625px"
        />
      </div>
    </div>
  </div>
</div>

<div>
  <h3 style="text-align: center">-------- Why Choose Us --------</h3>

  <div class="container my-5">
    <div class="row justify-content-center">
      <!-- First Item (Icon and Text) -->
      <div class="col-md-3 text-center">
        <i class="fa-solid fa-car-rear" style="color: red; font-size: 24px"></i>
        <h6 style="padding-top: 10px">Free Shipping</h6>
      </div>

      <div class="col-md-3 text-center">
        <i
          class="fa-regular fa-life-ring"
          style="color: red; font-size: 24px"
        ></i>
        <h6 style="padding-top: 10px">Support 24/7</h6>
      </div>

      <!-- Second Item (Icon and Text) -->
      <div class="col-md-3 text-center">
        <i
          class="fa-solid fa-arrow-rotate-right"
          style="color: red; font-size: 24px"
        ></i>
        <h6 style="padding-top: 10px">30 DAYS RETURN</h6>
      </div>

      <!-- Third Item (Icon and Text) -->

      <div class="col-md-3 text-center">
        <i class="fa-solid fa-shield" style="color: red; font-size: 24px"></i>
        <h6 style="padding-top: 10px">100% PAYMENT SECURE</h6>
      </div>
    </div>
  </div>
</div>

<button
  class="scroll-to-top mb-2"
  (click)="scrollToTop()"
  [class.show]="isShow"
>
  <i class="fa fa-arrow-up"></i>
</button>

<!-- WhatsApp Sticky Icon -->
<a href="https://wa.me/201202846001" class="whatsapp-float" target="_blank">
  <i class="fab fa-whatsapp whatsapp-icon"></i>
</a>
