<form>
  <h2>Edit categories</h2>
  <div>
    <label for="productName">
      <div
        *ngFor="let category of categories"
        class="d-flex align-items-center mb-3"
      >
        <input
          [(ngModel)]="category.name"
          [ngModelOptions]="{ standalone: true }"
          name="name"
          type="text"
          id="productName"
          placeholder="Edit category name"
          class="form-control me-2"
          style="width: 100%; margin-bottom: 0"
        />
        <select
          [(ngModel)]="category.collection"
          [ngModelOptions]="{ standalone: true }"
          class="form-control me-2"
          style="width: 75%; margin-bottom: 0"
        >
          <option value="">select collection</option>
          <option value="Summer">Summer</option>
          <option value="Winter">Winter</option>
          <option value="Both">Both</option>
        </select>
        <select
          [(ngModel)]="category.gender"
          [ngModelOptions]="{ standalone: true }"
          class="form-control me-2"
          style="width: 75%; margin-bottom: 0"
        >
          <option value="">select gender</option>
          <option value="Male">Male</option>
          <option value="Woman">Woman</option>
          <option value="Both">Both</option>
        </select>

        <button
          [disabled]="category.name == ''"
          (click)="editCategory(category)"
          type="button"
          class="btn btn-outline-primary"
        >
          Edit
        </button>
        <button
          (click)="deleteCategory(category.id)"
          class="ms-2"
          style="background-color: brown"
          type="button"
        >
          Delete
        </button>
        <br />
        <br />
        <br />
      </div>
      <div *ngIf="showCategoryAdd" class="d-flex align-items-center mb-3">
        <input
          [(ngModel)]="newCategory.name"
          [ngModelOptions]="{ standalone: true }"
          name="name"
          placeholder="enter the category name"
          type="text"
          class="form-control me-2"
          style="width: 100%; margin-bottom: 0"
        />
        <select
          class="form-control me-2"
          style="width: 100%; margin-bottom: 0"
          id="brandId"
          [(ngModel)]="newCategory.gender"
          [ngModelOptions]="{ standalone: true }"
        >
          <option value="">Select gender</option>
          <option value="Male">Male</option>
          <option value="Women">Women</option>
        </select>
        <select
          class="form-control me-2"
          style="width: 100%; margin-bottom: 0"
          id="brandId"
          [(ngModel)]="newCategory.collection"
          [ngModelOptions]="{ standalone: true }"
        >
          <option value="">Select collection</option>
          <option value="Summer">Summer</option>
          <option value="Winter">Winter</option>
        </select>

        <button
          [disabled]="
            newCategory.name == '' ||
            newCategory.gender == '' ||
            newCategory.collection == ''
          "
          (click)="addCategory()"
          type="button"
          class="btn btn-outline-primary"
        >
          Add
        </button>
      </div>
      <button
        style="width: 100%"
        type="button"
        (click)="showCategoryAdd = !showCategoryAdd"
      >
        <ng-container *ngIf="!showCategoryAdd">Add new Category</ng-container>
        <ng-container *ngIf="showCategoryAdd">cancel</ng-container>
      </button>
    </label>
  </div>
</form>
