<div class="row">
  <div class="col-md-4">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <h2>Product details</h2>
      <!-- Product Name -->
      <label for="productName">Product Name:</label>
      <input
        type="text"
        id="productName"
        formControlName="productName"
        placeholder="Enter product name"
      />
      <div
        *ngIf="
          productForm.controls['productName'].invalid &&
          productForm.controls['productName'].touched
        "
        class="text-danger"
      >
        <small *ngIf="productForm.controls['productName'].errors!['required']"
          >product Name is required.</small
        >
      </div>
      <!-- Description -->
      <label for="description">Gender:</label>
      <select formControlName="gender">
        <option value="">Select gender</option>
        <option value="Men">Men</option>
        <option value="Woman">Woman</option>
        <option value="Both">Both</option>
      </select>
      <div
        *ngIf="
          productForm.controls['gender'].invalid &&
          productForm.controls['gender'].touched
        "
        class="text-danger"
      >
        <small *ngIf="productForm.controls['gender'].errors!['required']"
          >gender is required.</small
        >
      </div>
      <!-- Description -->
      <label for="description">Collection : </label>
      <select formControlName="collection">
        <option value="">Select collection</option>
        <option value="Summer">Summer</option>
        <option value="Winter">Winter</option>
        <option value="Both">Both</option>
      </select>
      <div
        *ngIf="
          productForm.controls['collection'].invalid &&
          productForm.controls['collection'].touched
        "
        class="text-danger"
      >
        <small *ngIf="productForm.controls['collection'].errors!['required']"
          >collection is required.</small
        >
      </div>
      <ng-container
        *ngIf="
          productForm.controls['collection'].value &&
          productForm.controls['gender'].value
        "
      >
        <label for="category">Category:</label>
        <select id="category" formControlName="categoryId">
          <option value="">Select category</option>
          <option
            *ngFor="let category of displayedCategories"
            [value]="category.id"
          >
            {{ category.name }}
          </option>
        </select>
        <div
          *ngIf="
            productForm.controls['categoryId'].invalid &&
            productForm.controls['categoryId'].touched
          "
          class="text-danger"
        >
          <small *ngIf="productForm.controls['categoryId'].errors!['required']"
            >category is required.</small
          >
        </div>
      </ng-container>
      <ng-container *ngIf="showSubCategories">
        <label for="subCategoryId">Sub category:</label>
        <select id="subCategoryId" formControlName="subCategoryId">
          <option value="">Select subCategory</option>
          <option
            *ngFor="let subCategories of displayedSubCategories"
            [value]="subCategories.id"
          >
            {{ subCategories.name }}
          </option>
        </select>
        <div
          *ngIf="
            productForm.controls['subCategoryId'].invalid &&
            productForm.controls['subCategoryId'].touched
          "
          class="text-danger"
        >
          <small
            *ngIf="productForm.controls['subCategoryId'].errors!['required']"
            >sub Category is required.</small
          >
        </div>
      </ng-container>
      <!-- Category Dropdown -->
      <label for="category">Brand:</label>
      <select id="category" formControlName="brandId">
        <option value="">Select Brand</option>
        <option *ngFor="let brand of brands" [value]="brand.id">
          {{ brand.name }}
        </option>
      </select>
      <div
        *ngIf="
          productForm.controls['brandId'].invalid &&
          productForm.controls['brandId'].touched
        "
        class="text-danger"
      >
        <small *ngIf="productForm.controls['brandId'].errors!['required']"
          >brand is required.</small
        >
      </div>
      <!-- Price -->
      <label for="price">Price:</label>
      <input
        type="number"
        id="price"
        formControlName="price"
        placeholder="Enter product price"
      />
      <div
        *ngIf="
          productForm.controls['price'].invalid &&
          productForm.controls['price'].touched
        "
        class="text-danger"
      >
        <small *ngIf="productForm.controls['price'].errors!['required']"
          >price is required.</small
        >
      </div>
      <div style="margin-top: 1%" class="form-check form-switch">
        <input
          formControlName="onSale"
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >On sale</label
        >
      </div>
      <ng-container *ngIf="showSalePrice">
        <label for="price">Sale price:</label>
        <input
          type="number"
          id="price"
          formControlName="salePrice"
          placeholder="Enter product sale price"
        />
        <div
          *ngIf="
            productForm.controls['salePrice'].invalid &&
            productForm.controls['salePrice'].touched
          "
          class="text-danger"
        >
          <small *ngIf="productForm.controls['salePrice'].errors!['required']"
            >price is required.</small
          >
        </div>
        <label>Add the expiration date of the discount</label>
        <input
          formControlName="discountExpirationDate"
          type="datetime-local"
          class="form-control"
          id="dateTimeInput"
        />
      </ng-container>
      <label for="price">Note :</label>
      <input
        type="text"
        id="price"
        formControlName="note"
        placeholder="Enter product note"
      />
      <div
        *ngIf="
          productForm.controls['note'].invalid &&
          productForm.controls['note'].touched
        "
        class="text-danger"
      >
        <small *ngIf="productForm.controls['note'].errors!['required']"
          >note is required.</small
        >
      </div>
      <!-- Image Upload -->
      <label for="productImage">Product Image:</label>
      <input
        type="file"
        id="productImage"
        (change)="onPhotoSelected($event)"
        accept="image/*"
      />

      <!-- Image Preview -->
      <div *ngIf="imagePreview">
        <p>Image Preview:</p>
        <img [src]="imagePreview" alt="Image Preview" width="200" />
      </div>

      <!-- Submit Button -->
      <button
        [disabled]="productForm.invalid || selectedPhoto == null"
        type="submit"
      >
        Adding Product
      </button>
    </form>
  </div>
  <div class="col-md-4">
    <form [formGroup]="productForm">
      <h2>Product available sizes</h2>
      <!-- Product Name -->
      <div class="align-items-center mb-3">
        <div
          *ngFor="let size of getArray(); index as index"
          class="align-items-start mb-3"
        >
          <div
            [formGroup]="getFormGroup(index)"
            class="d-flex align-items-center"
          >
            <input
              placeholder="the size"
              formControlName="size"
              type="text"
              class="form-control me-2"
              style="width: 75%; margin-bottom: 0"
            />
            <input
              placeholder="quantity"
              formControlName="quantity"
              type="number"
              class="form-control me-2"
              style="width: 75%; margin-bottom: 0"
            />
            <button
              (click)="deleteSize(index)"
              type="button"
              class="btn btn-outline-primary"
            >
              Delete size
            </button>
          </div>
          <div
            *ngIf="
              getFormGroup(index).controls['quantity'].invalid ||
              getFormGroup(index).controls['size'].invalid
            "
            class="text-danger"
          >
            <small
              *ngIf="
                getFormGroup(index).controls['quantity'].invalid ||
                getFormGroup(index).controls['size'].invalid
              "
              >quantity and size is required.</small
            >
          </div>
          <small
            class="text-danger"
            *ngIf="
              this.productForm.controls['availableSize'].hasError('duplicate')
            "
          >
            size and quantity already exists
          </small>
        </div>
      </div>
      <button (click)="NewSize()" type="button">Add new Size</button>
    </form>
  </div>
  <div class="col-md-4">
    <form [formGroup]="productForm">
      <h2>Product photos</h2>
      <p>Image Preview:</p>
      <input
        type="file"
        id="productImage"
        (change)="onProductPhotosSelected($event)"
        accept="image/*"
      />
      <!-- Product Name -->
      <div class="align-items-center mb-3">
        <div class="row">
          <div class="col-6 mb-2" *ngFor="let photo of selectedPhotos">
            <img
              [src]="photo.imagePreview"
              alt="Image Preview"
              style="height: 17.5rem; width: 100%; object-fit: cover"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
