<br />
<div class="container">
  <div class="row">
    <!-- Left Column for Image (col-6) -->
    <div class="col-md-6">
      <div
        id="carouselExampleFade"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="/assets/images/womenshose.jpg"
              class="d-block custom-carousel-img img-fluid"
              alt="Womens Hose"
              style="width: 600px; height: 400px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/images/wemonshose.jpg"
              class="d-block custom-carousel-img img-fluid"
              alt="Second Image"
              style="width: 600px; height: 400px"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleFade"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- Right Column for Data (col-6) -->
    <div class="col-md-6">
      <br>
      <h6 style="font-size: 1.5rem">{{ cartItem.product.name }}</h6>
      <br />
      <ul>
        <li>
          <strong style="font-size: 1.25rem"> Price : </strong> {{ cartItem.product.price }}
        </li>
        <li><strong style="font-size: 1.25rem">Size:</strong> {{ cartItem.size }}</li>
      </ul>
      <br />
      <div class="input-group mb-3" style="max-width: 120px">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="decrement()"
        >
          -
        </button>
        <input
          [(ngModel)]="quantity"
          name="quantity"
          type="text"
          class="form-control text-center"
          readonly
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="increment()"
        >
          +
        </button>
      </div>
      <br />
      <button (click)="editCartItem()" class="btn btn-primary">edit the quantity</button>
      <br />
      <br />
      <h6 style="color: red">HURRY! Exist Limited quantity IN STOCK.</h6>
    </div>
  </div>
</div>

<br />
