<!-- Page Content-->
<section class="pt-4">
  <div class="container px-lg-5">
    <div
      data-bs-toggle="modal"
      data-bs-target="#ProductFilterModal"
      class="d-flex align-items-center mb-4"
      style="font-size: 1.5rem; cursor: pointer"
    >
      <i class="fa fa-filter me-2" style="font-size: 1.5rem"></i>
      <span>Filter</span>
    </div>
    <div class="row gx-lg-5">
      <div
        class="col-lg-4 col-md-6 col-12 mb-5"
        *ngFor="let product of products"
      >
        <div class="card h-100 mx-auto" style="width: 18rem">
          <img
            [src]="product.mainPhotoUrl"
            class="card-img-top"
            alt="Card image"
            style="height: 300px"
          />
          <div class="card-body">
            <p class="card-text">{{ product.name }}</p>
            <p class="card-text" style="color: red">
              Price: LE {{ product.price }}
            </p>
            <button
              (click)="
                this.productDetailsComponent.setInput('productId', product.id)
              "
              type="button"
              class="btn btn-secondary"
              data-bs-target="#productInfoModal"
              data-bs-toggle="modal"
            >
              Quick Shop
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div>
        <nav aria-label="Page navigation example">
          <ul style="cursor: pointer" class="pagination">
            <li class="page-item">
              <a
                class="page-link"
                (click)="moveToPage(currentPage - 1)"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li
              [ngClass]="{ active: (i+1) == currentPage }"
              *ngFor="let page of totalPages; let i = index"
              class="page-item"
            >
              <a (click)="moveToPage(i+1)" class="page-link">{{ i +1  }}</a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                (click)="moveToPage(currentPage + 1)"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<app-product-filter></app-product-filter>
<ng-container #container></ng-container>
